<!DOCTYPE html>
<html lang="zh-CN">
<meta name="viewport" content="charset=UTF-8, width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
<title>登陆</title>

<link rel="stylesheet" href="/static/css/user/style.css">

<body>

<div class="login-container">
	<h1>登陆</h1>
	
	<div class="connect">
		<p>fvCloud</p>
	</div>
	
	<form action="" method="post" id="loginForm">
		<div>
			<input type="text" name="username" class="username" placeholder="用户名" autocomplete="off"/>
		</div>
		<div>
			<input type="password" name="password" class="password" placeholder="密码" oncontextmenu="return false" onpaste="return false" />
		</div>
		<button id="submit" type="submit">登 陆</button>
	</form>

	<a href="register.html">
		<button type="button" class="register-tis">还有没有账号？</button>
	</a>

</div>

<script src="/static/js/user/jquery.min.js"></script>
<script src="/static/js/user/common.js"></script>
<!--背景图片自动更换-->
<script src="/static/js/user/supersized.3.2.7.min.js"></script>
<script src="/static/js/user/supersized-init.js"></script>
<!--表单验证-->
<script src="/static/js/user/jquery.validate.min.js?var1.14.0"></script>

<div style="text-align:center;margin:50px 0; font:normal 14px/24px 'MicroSoft YaHei';">
<p>适用浏览器：360、FireFox、Chrome、Safari、Opera、傲游、搜狗、世界之窗. 不支持IE8及以下浏览器。</p>
<p>Copyright &copy; 2015<a target="_blank" href="http://www.moke8.com/">fvCloud</a></p>
</div>
</body>
</html>